<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="app/app.module.js" charset="utf-8"></script>
    <script src="app/calc/calc.module.js" charset="utf-8"></script>
    <script src="app/calc/calc.service.js" charset="utf-8"></script>
    <script src="app/calc/calc.js" charset="utf-8"></script>
    <script src="app/filters/filters.module.js" charset="utf-8"></script>
    <script src="app/filters/decorator.filter.js" charset="utf-8"></script>

  </head>
  <body>

    <div ng-controller="CalcController as calc" id="calc">
      <p>
        Operando 1
      </p>
      <input type="number" name="op1" ng-model="calc.a"/>

      <p>
        Operando 2
      </p>
      <input type="number" name="op2" ng-model="calc.b"/>

      <p>
        <button type="button" name="button" ng-click="calc.suma()" id="suma">Sumar</button>
      </p>

      <div ng-show="calc.c">
        {{calc.c | decorator:'***'}}
      </div>

    </div>


  </body>
</html>
